body {
    background-color: red;
    text-align: center;
}

h2 {
    color: yellow;
    font-size: 50;
    background-color: aqua;
}

p {
            color: rgb(117, 105, 108);
            font-size: 20px;
        }

ul {
    list-style: none;
}

img {
    width: 80%;
    border-radius: 10px 20px 30px 50px;
    filter: blur(5px);
}